AddDefaultCharset utf-8

# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>

DirectoryIndex /web/index.php
DirectoryIndex /web/admin.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f

RewriteRule ^(.+) $1 [L]

RewriteRule ^admin.*$ /web/admin.php [L]

RewriteCond %{DOCUMENT_ROOT}/web%{REQUEST_URI} -f

RewriteRule ^(.+) /web/$1 [L]
RewriteRule ^([^?]*) index.php [L,QSA]

php_value display_errors 1
php_value display_startup_errors 1
php_value error_reporting E_ALL


php_value short_open_tag 1

