.table-light {
    background-color: rgba(255, 255, 255, 0.9);
    table-layout: fixed;
    width: 100%;
}

.page-title {
    font-size: 16px !important;
    color:#5a5a5a;
        margin: 17px 0;
}
.table{
    border-color:#d7d7d7 !important;
    margin-bottom: 0px !important; 
    /*border-top: 0 !important;*/
}
.table.table-light>thead>tr>th,
.table td, .table th {
    font-size: 16px !important;
    text-align: center;
    color:#5a5a5a;
    position: relative;
    vertical-align: middle !important;
    border-color:#d7d7d7 !important;
}
.table .label.label-sm {
    font-size: 1em !important;
}
.table th{
	font-weight: normal !important;
}
.page-content a{
	color:#5a5a5a !important;
}
.page-content .label{
	position: absolute;
	top:50%;
	margin-top: -6px;
	right:8px;
	font-size:10px !important;
	/*padding: 6px 6px 6px 6px !important;*/
}
table thead tr th,table tfoot tr th{
    background: #f5f5f5;
    font-weight: normal;
}
table thead tr th{
    height: 50px;
}
table thead tr th .btn,table tfoot tr th .btn{
    background: none;
    line-height: 1 !important;
}
table thead tr th, table tbody tr td,table tfoot tr th{
    text-align:center;
    border:1px solid #d7d7d7;
    padding: 8px;
    border-left: none;
}

table tbody tr td .label{
    right: 20px !important;
}
#find_job{
    border:none;
    margin-top: 3px;
}
#find_job .offerall{
    font-size: 10px !important;
}
#delegated > table .btn{
    line-height: 34px !important;
}
.nav-tabs{
    position:absolute;
    top:-30px;
    left:0px;
}
.nav-tabs li a{
    padding:0;
    height:30px;
    line-height:30px;
    width:170px;
    text-align:center;
    font-size:16px;
    color:rgba(90,90,90,0.5);
    border:1px solid transparent;
    background:url("/images/tab-bg-dash.png") 0 0 repeat-x;
    padding: 5px 12px !important;
}
.nav-tabs li a:hover{
    border:1px solid rgba(215,215,215,0.5);
}
.nav-tabs li.active a:hover,.nav-tabs li.active a:focus{
    border-color: #fff !important;
}
.nav-tabs li:first-child a{
    border-radius:10px 0 0 0;
}
.nav-tabs li:last-child a{
    border-radius:0px 10px 0 0;
}
.nav-tabs li.active a{
    color:#5a5a5a;
    border-color:#fff !important;
    background:#fff;
}
.tables-business .well{
    position: relative;
    margin-top:60px !important;
    margin-bottom:60px !important;
    padding: 30px !important;
}
.slidePop{
    position:initial;
}
.table{
    border-radius:10px !important;
    border-collapse: initial;
}
.table tbody tr td,.table thead tr th,.table tfoot tr th{
    border-right:0 !important;
    border-bottom:0 !important;
    height: 61px;
}
.table tbody tr td:first-child,.table thead tr th:first-child,.table tfoot tr th:first-child{
    border-left:0 !important;
}
.table thead tr > td:first-child,.table thead tr > th:first-child{
    border-top-left-radius:10px !important;
}
.table thead tr > td:last-child,.table thead tr > th:last-child{
    border-top-right-radius:10px !important;
}
.table tbody tr:last-child > td:first-child,.table tfoot tr > th:first-child{
    border-bottom-left-radius:10px !important;
}
.table tbody tr:last-child > td:last-child,.table tfoot tr > th:last-child{
    border-bottom-right-radius:10px !important;
}
.table.with-foot td{
    border-right:0 !important;
    border-bottom: 0 !important;
}
.table.with-foot td:first-child{
    border-left:0 !important;
}

#find_job .advanced-search-btn+.popover{
    left:0 !important;
}
.dropdown-menu .mCSB_container{
    padding:0 !important;
}
/*.table tbody td{
    height: 61px;
}*/
.popover.tname{
    min-width:auto !important;
    width:auto !important;
    max-width:250px !important;
}
.bootstrap-select.btn-group .dropdown-menu li[data-original-index="0"] a.start{
    display: none;
}