
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}

.st_string{
    color:#34495e;
}

.st_string:hover{
    text-decoration: none;
    color:#34495e;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 68%;
    height: 68%;
}

.status {
    text-align:center;
    margin-top: 10px;
}


.test-result {
    text-align:center;
}

.result_btn{
    padding:10px 30px;
    margin-top:20%;
}

.no_margin{
    margin-left:20px!important;
    margin-right:20px!important;
}

.check{
    padding: 10px;
}

.check div {
    text-align:right;
}

.check span {
    float:left;
}

.to_education {
    width:22%;
}

.upload {
    opacity:0;
    height:134px;
    width:134px;
    left:2px;
    top:-135px;
    position:absolute;
}

.plus {
    cursor: pointer;
}
.action_btn {
    /*width:3.3% !important;*/
}

.delete,
.delete-ajax
{
    cursor: pointer;
    color:red;
    font-size: 10px !important;
}
.service .control-label {
    text-align: left;
    margin-top: 6px !important;
}

.delete-ajax-serv
{
    cursor: pointer;
    color:red;
    font-size: 10px !important;
}
/*.icon-cost{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5px;
    background: url("/images/tasks/task-sprite.png");
    background-position: -64px 0;
}
.icon-time{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 5px;
    background: url("/images/tasks/task-sprite.png");
    background-position: -32px 0;
}*/
/*.page-content .btn:not(.btn-default){
    border-width: 1px;
    border-color: #818588;
    border-style: solid;
    color: #818588;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    border-radius: 20px !important;
    background: #fff !important;
    margin-right: 11px;
}*/
.page-content .btn-primary.active, .page-content .btn-primary:hover {
    border-color: #5184f3 !important;
    background-color: #5184f3 !important;
    color: #ffffff !important;
}
.btn-test-result{
    width: calc(100% - 40px) !important;
    float:left;
    margin:0 !important;
    padding: 5px 12px !important;
}
.btn.settings{
    margin: 0 !important;
    padding: 0;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 12px !important;
    font-size: 18px !important;
}
.btn.settings:hover{
    border-color: #5184f3 !important;
    background-color: #5184f3 !important;
    color:#fff;
}
.btn.settings:hover i{
    color:#fff;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    height: 30px;
    width: 30px;
    line-height:30px;
    top:0;
    margin-top: 0 !important;
    right: 0;
    font-size: 20px;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret i{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
.bootstrap-select .btn{
    border-color:#d7d7d7 !important;
    background: #fff !important;
    border-radius: 0;
}
.bootstrap-select .btn:hover:before{
    display: none;
}
.bootstrap-select .btn:hover{
    box-shadow: none !important;
    color: #5a5a5a !important;
    border-color: #c2cad8 !important;
}
.bootstrap-select>.dropdown-toggle{
    height: 32px;
    line-height:30px;
    padding: 0 30px 0 12px;
}
h3{
    font-size:16px !important;
    color:#818588 !important;
    /*margin-left: 15px;*/
        margin-top: 0 !important;
}
.row.title .form-group{
    margin-left: 0 !important;
    margin-right: 0 !important;
        position: relative;
}
.body .form-group{
    margin-bottom:0 !important;
    position: relative;
}
hr{
    margin-bottom: 0;
}
.dynamic-block+.dynamic-block{
    /*margin-top:15px;*/
}
.well{
    overflow:hidden !important;
    margin:32px auto !important;
}

.action_btn .icon-plus{
    font-size:30px;
}
.action_btn{
    position: absolute !important;
    right: 0;
    width:32px;
    height: 32px;
    display: block;
}
.action_btn i{
    line-height: 30px;
}
.col-half{
    width:50%;
    float:left;
}
.form-control{
    color:#5a5a5a !important;
    border-color:#d7d7d7 !important;
}
.input-group-addon{
    color:#5a5a5a !important;
}
.btn-danger:hover{
    background-color: #FF5252 !important;
}


.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .row {
    display: table-row;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .row  > * {
    display: table-cell;
    vertical-align: middle;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .username {
    padding: 0 10px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .id {
    font-size: 12px;
    color: #777;
    font-variant: small-caps;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .avatar img {
    height: 26px;
    width: 26px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-logo {
    display: inline-block;
    height: 100px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-logo img {
    height: 100%;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 20px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information > span {
    display: block;
    margin-bottom: 5px;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result > ul > li > a small {
    padding-left: 0px;
    color: #999;
}

.project-jquerytypeahead.page-demo #form-user_v1 .typeahead-result .project-information li {
    font-size: 12px;
}
.services .accordion .panel .panel-title .accordion-toggle{
    height: 55px;
    padding: 7px 17px;
    background: #9187d0;
    position: relative;
    border-radius: 5px !important;
}
.services .accordion .panel{
    border:none;
}
.services .accordion .panel .panel-title .accordion-toggle .icon{
    font-size: 25px;
    color: #fff;
    position: absolute;
    top:15px;
    left:15px;
}
.services .accordion .panel .panel-title .accordion-toggle .text{
    position: absolute;
    left: 63px;
    top: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.services .accordion .panel .panel-title .accordion-toggle .text .hui2{
    font-size: 16px;
    font-weight: normal;
    color: rgba(255,255,255,0.6);
}
.services .accordion .panel .panel-title .accordion-toggle .do{
    position: absolute;
    width: 188px;
    right: 183px;
    font-size: 16px;
    line-height: 50px;
    color:rgba(255,255,255,0.6);
}
.services .accordion .panel .panel-title .accordion-toggle .do.sell{
    right: 10px;
    width:143px;
}
.services .accordion .panel .panel-title{
    position: relative;
}
.services .accordion .panel .panel-title .check{
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color:#9187d0;
    position: absolute;
    padding: 0;
    right: 0px;
    top: 8px;
    background: #fff;
    border-radius: 2px !important;
    cursor: pointer;
}
.services .accordion .panel .panel-title .check i{
    opacity: 0;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    transition: 0.3s linear all;
}
.services .accordion .panel .panel-title .check.active i{
    opacity: 1;
}
.services .panel-default > .panel-heading + .panel-collapse > .panel-body{
    margin:0 20px;
    padding: 10px;
    /*background: #f4f3fa;*/
    border-radius: 0 0 3px 3px !important;
}
.services > .col-sm-12{
    /*margin-top: 10px;*/
}
.well{
    padding: 0;
}
.services .service .multiselect .btn.info{
    width:18px !important;height:18px;padding:none;line-height:18px !important;font-size:12px;
}
.services .service .multiselect .caret:before{
    display: none !important;
}
.services .service .multiselect .dropdown-content{
    display: none;
    box-shadow: 5px 5px rgba(102, 102, 102, 0.1);
    left: 0;
    position: absolute;
    z-index: 1000;
    list-style: none;
    text-shadow: none;
    padding: 0px;
    background-color: #ffffff;
    border: 1px solid #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
    top:100%;
}
.services .service .multiselect .dropdown-content.open{
    display: block;
}
.services{
    margin-bottom: 20px;
}
.services .service .multiselect .dropdown-content ul{
    list-style-type: none;
    margin:0 !important;
    padding: 0 !important;
}
.services .service .multiselect .dropdown-content ul li{
    padding: 7px;
}
.services .service .multiselect .dropdown-content ul li:hover,.services .service .multiselect .dropdown-content ul li.active{
    background-color: #e1e5ec;
}
.services .service .form-control,.services .service .input-group-addon{
    background-color: transparent !important;
}
.services .service input.form-control{
    background-color: #fff !important;
    padding: 6px 10px;
}
.panel-group{
    margin-bottom: 3px !important;
}

.panel-body.background-6{
    background-color: rgba(112, 202, 200,0.1);   
}
.panel-body.background-1{
    background-color: rgba(145, 135, 208,0.1);
}
.panel-body.background-2{
    background-color: rgba(183, 135, 209,0.1);
}
.panel-body.background-3{
    background-color: rgba(253, 109, 100,0.1);
}
.panel-body.background-5{
    background-color: rgba(255, 209, 71,0.1);
}
.panel-body.background-4{
    background-color: rgba(255, 162, 93,0.1);
}
.panel-body.background-7{
    background-color: rgba(112,202,200,0.1);
}
.panel-body.background-8{
    background-color: rgba(93,201,240,0.1);
}
.services .service .multiselect .dropdown-content ul li .pull-left{
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:75%;
}
.service-heading{
    color:rgba(90,90,90,0.5);
    font-size: 16px;
    line-height: 30px;
}
.action_btn.btn{
    background: none;
    border:1px solid transparent;
    opacity: 0.5;
}
.action_btn.btn:hover{
    opacity: 1;
}
.services .action_btn{
    position: relative !important;
}
.services .service input.form-control[data-key="rate"]{
    background: url("/images/cost-bg.png") 7px 0 no-repeat;
    padding-left: 30px;
}
.contact_show .col-md-2 {
    width: 14.66667%;
    padding-right: 0;
}
.popover{
    min-width: 420px;
    /*white-space: nowrap;*/
}
.services .service .multiselect > .btn.info{
    position:absolute;
    right:30px;
    top:6px;
    z-index: 999;
}
/*.page-content{
    padding-bottom: 62px;
}*/
/*.page-footer{
    position: fixed !important;
    bottom:0 !important;
}*/
.dropdown-menu.open{
    padding: 10px;
    border-radius: 10px !important;
    box-shadow: 0 0 32px 0 rgba(139,139,143,0.34) !important;
    border: 1px solid #dae2ea;
    background:#fff;
    overflow: initial !important;
    margin-top: 9px !important;
    top: 100% !important;
    max-height: 272px !important;
    min-height: auto !important;
    width: 100%;
}

.dropdown-menu.open:before{
    content: " ";
        position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: auto !important;
    right:6px !important;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #dae2ea;
        top: -23px !important;
        border-width: 11px !important;
}
.dropdown-menu.open:after{
    content: " ";
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #FFF !important;
    border-width: 10px !important;
    content: "";
        position: absolute;
        top: -20px !important;
        left: auto !important;
        right:7px !important;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.bootstrap-select.btn-group .dropdown-menu.inner{
    overflow-y: visible !important;
    min-height: auto !important;
    max-height: 252px !important;
overflow: hidden;
}
.bootstrap-select .dropdown-menu li a{
    border-radius: 3px !important;
    line-height:30px !important;
    white-space:initial !important;
    padding: 0 5px;
    color:#5a5a5a;
}
.mCSB_outside + .mCSB_scrollTools {
    right: -5px !important;
}
.del_special{
    font-size:10px !important;
}
.open > .dropdown-menu {
    border-radius: 10px !important;
        box-shadow: 0 0 32px 0 rgba(139,139,143,0.34) !important;
}