@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,300,700&subset=latin,cyrillic);
body{
	background: url("/images/profile/shared_bg.jpg") center top;
	color:#5a5a5a;
	background-size: cover;
		font-family: "Roboto";
	font-weight:300;
	overflow:hidden;
}
.well{
	width: 1000px;
	padding:0;
	margin:50px auto;
	border:none;
	background:rgba(255,255,255,0.9);
}
.well .header{
	height: 76px;
	line-height: 76px;
	text-align: center;
	border-radius: 10px 10px 0 0 !important;
	position:relative;
	margin:0 50px;
	border-bottom:1px solid rgba(90,90,90,0.6);
}
.well .header > *{
	display: inline-block;
    vertical-align: middle;
}
.logo-wrap{
	position:absolute;
	top:20px;
	left:0;
	display:block;
	vertical-align:top !important;
}
.well .header .logo-default{
	height: 36px;
	width: 36px;
    display: block;
    vertical-align:top !important;
}
.header .site-name{
	color: rgba(90,90,90,0.6);
	font-size: 18px;
}

.page-content{
	padding: 30px;
	text-align: center;
	background: none;
}
.page-content .avatar{
	border-radius: 100% !important;
	margin-bottom: 20px;
}
.page-content  #user{
	line-height: 24px;
	color: #5a5a5a;
	font-size: 16px;
	font-weight: 300;
	margin-bottom:30px;
}
.page-content .name{
	font-size: 18px;
	font-weight: bold;
}
.page-content .adres i{
	font-size: 12px;
}
.page-content .status{
	margin-top: 6px;
}
section#about{
	margin:20px auto;
	font-size: 16px;
}
section#about .title{
	text-transform: uppercase;
	margin-bottom: 20px;
}
section#about .text{
	color:#818588;
}
section#about .text p{
	margin:20px 0;
	text-indent: 30px;
}
section.contacts .title{
	text-transform: uppercase;
}
.page-footer{
	font-size: 16px;
	border-radius: 0 0 10px 10px !important;
	padding: 0;
	line-height: 76px;
	height: 76px;
	background: none;
	color:#5a5a5a;
	border-top:1px solid rgba(90,90,90,0.6);
	margin:0 50px;
    width: auto;
}
#services .panel-group{
	margin-bottom: 2px;
}
#services .accordion .panel .panel-title .accordion-toggle{
    height: 55px;
    padding: 7px 17px;
    background: #9187d0;
    position: relative;
    border-radius: 5px !important;
    cursor: pointer;
}
#services .accordion .panel{
    border:none;
}
#services .accordion .panel .panel-title .accordion-toggle .icon{
    font-size: 25px;
    color: #fff;
    position: absolute;
    top:15px;
    left:15px;
}
#services .accordion .panel .panel-title .accordion-toggle .text{
    position: absolute;
    left: 63px;
    top: 7px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
#services .accordion .panel .panel-title .accordion-toggle .text .hui2{
    font-size: 16px;
    font-weight: normal;
    color: rgba(255,255,255,0.6);
}
#services .accordion .panel .panel-title .accordion-toggle .do{
    position: absolute;
    width: 60px;
    right: 183px;
    font-size: 16px;
    line-height: 50px;
    color:rgba(255,255,255,0.6);
}
#services .accordion .panel .panel-title .accordion-toggle .do.sell{
    right: 10px;
    width:143px;
}
#services .accordion .panel .panel-title{
    position: relative;
}
#services .panel-default > .panel-heading + .panel-collapse > .panel-body{
    margin:0 20px;
    padding: 20px 0px;
    border-radius: 0 0 3px 3px !important;
}
.panel-body.background-6{
    background-color: rgba(112, 202, 200,0.1);   
}
.panel-body.background-1{
    background-color: rgba(145, 135, 208,0.1);
}
.panel-body.background-2{
    background-color: rgba(183, 135, 209,0.1);
}
.panel-body.background-3{
    background-color: rgba(253, 109, 100,0.1);
}
.panel-body.background-5{
    background-color: rgba(255, 209, 71,0.1);
}
.panel-body.background-4{
    background-color: rgba(255, 162, 93,0.1);
}
.panel-body.background-7{
    background-color: rgba(112,202,200,0.1);
}
.panel-body.background-8{
    background-color: rgba(93,201,240,0.1);
}
#services .panel{
	background-color: transparent !important;
}
#services .form-group table tr td{
	vertical-align: middle;
	font-size: 16px;
	text-align: left;
}
#services .form-group table tr td label{
	margin-bottom: 0;
	color: rgba(90,90,90,0.5);
	margin-right: 2px;
}
#services .col-sm-6:last-child .form-group{
	margin-bottom: 0;
}
#services .service-heading{
    color: rgba(90,90,90,0.5);
    font-size: 16px;
    line-height: 50px;
    text-align: left;
}
#services .service-wrapper{
	text-align: left;
	font-size: 16px;
}
/* Social */
.contacts .big,.contacts .small{
	text-align: center;
	width: 380px;
	margin: 0 auto;
}
.contacts .big > a{
	width:60px;
	height: 60px;
	display: inline-block;
	margin: 15px;
}
.contacts .small > a{
	display: inline-block;
	width:32px;
	height:32px;
}
.contacts .big a.tel{
	background: url("/images/share_profile.png") 0 0 no-repeat;
}
.contacts .big a.tel:not(.no_hover):hover,.contacts .big a.tel.active:not(.no_hover){
	background: url("/images/share_profile.png") -60px 0 no-repeat;
}
.contacts .big a.skype{
	background: url("/images/share_profile.png") -120px 0px no-repeat;
}
.contacts .big a.skype:not(.no_hover):hover,.contacts .big a.skype.active:not(.no_hover){
	background: url("/images/share_profile.png") -180px 0px no-repeat;
}
.contacts .big a.mail{
	background: url("/images/share_profile.png") -240px 0px no-repeat;
}
.contacts .big a.mail:not(.no_hover):hover,.contacts .big a.mail.active:not(.no_hover){
	background: url("/images/share_profile.png") -300px 0px no-repeat;
}
.contacts .small{
	text-align: center;
}
.contacts .small a{
	margin: 0 20px;
}
.contacts .small a.tw{
	background: url("/images/share_profile.png") 0 -60px no-repeat;
}
.contacts .small a.tw:not(.no_hover):hover{
	background: url("/images/share_profile.png") -32px -60px no-repeat;
}
.contacts .small a.fb{
	background: url("/images/share_profile.png") -64px -60px no-repeat;
}
.contacts .small a.fb:not(.no_hover):hover{
	background: url("/images/share_profile.png") -96px -60px no-repeat;
}
.contacts .small a.gp{
	background: url("/images/share_profile.png") -128px -60px no-repeat;
}
.contacts .small a.gp:not(.no_hover):hover{
	background: url("/images/share_profile.png") -160px -60px no-repeat;
}
.contacts .small a.inst{
	background: url("/images/share_profile.png") -192px -60px no-repeat;
}
.contacts .small a.inst:not(.no_hover):hover{
	background: url("/images/share_profile.png") -224px -60px no-repeat;
}
.contacts .small a.lin{
	background: url("/images/share_profile.png") -256px -60px no-repeat;
}
.contacts .small a.lin:not(.no_hover):hover{
	background: url("/images/share_profile.png") -288px -60px no-repeat;
}
.contacts .small > div{
	display: inline-block;
	width: 100%;
}
.contacts{
	border-bottom:1px solid rgba(90,90,90,0.6);
	padding-bottom: 15px;
}
/*Comments*/
#comments{
	padding:17px 140px 0;
}
#comments-count{
	font-size: 18px;
	color:#5a5a5a;
	font-weight: 300;
}
#comment-area{
	height: 63px;
	resize:none;
	border:1px solid rgba(90,90,90,0.6);
	width: 100%;
	padding: 10px;
	outline:none;
	margin-bottom: 20px;
}
.comments .item{
	border-bottom:1px solid rgba(90,90,90,0.6);
	padding: 15px;
	padding-left: 65px;
	font-size:16px;
	text-align: left;
	position: relative;
}
.comments .item:first-child{
	border-top: 1px solid rgba(90,90,90,0.6);
}
.comments .item .avatar{
	position: absolute;
	top:18px;
	left:0;
}
.comments .item .name{
	color:#5a5a5a;
	font-weight:normal;
	margin-bottom: 10px;
}
.comments .item .comment{
	font-weight: 300;
	margin-bottom: 10px;
}
.comments .item .time{
	font-weight: 300;
	color: rgba(90,90,90,0.5);
	font-size: 14px;
	position: absolute;
    top: 19px;
    right: 0;
}
.comments .item:nth-child(4),.comments .item:nth-child(5), .pagination{
	display: none;
}
#comments .more{
	color:#5a5a5a;
	font-size: 18px;
	width: 18px;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}
.page-footer .contacts{
	position: absolute;
	top: 20px;
	left:30px;
	width:380px;
	line-height: 32px;
	border: none;
	text-align: left;
	color:#5a5a5a;
}
.page-footer .contacts .small{
	width:180px;
	margin-left:30px;
	margin-top: 13px;
	text-align: left;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
    height: 30px;
}
.page-footer .contacts .small a{
	margin:0 2px;
}
.page-footer .contacts  label{
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	margin-bottom: 0;
	margin-right: 10px;
}
.pagination{
	margin:15px auto 0 !important;
}
.pagination .active > a{
	padding-top: 3px !important;
}
.pagination > li > a, .pagination > li > span{
	float: none !important;
	vertical-align: middle;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color:rgba(255,255,255,0.5);
	border-radius:3px !important;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
	background-color:rgba(255,255,255,0.9);
}
.popover{
    border:1px solid #d7d7d7;
    padding: 10px;
    border-radius:10px !important;
    box-shadow: 0 0 32px 0 rgba(139,139,143,0.34) !important;
    border: 1px solid #dae2ea;
}
.popover.bottom > .arrow:after {
    border-bottom-color: #FFF !important;
}
.popover.top > .arrow:after {
    border-top-color: #FFF !important;
}
.popover.right > .arrow:after {
    border-right-color: #fff !important;
}
.popover .popover-content{
    background: #fff;
    /*border: 1px solid #d7d7d7;*/
    padding:0;
}
#bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
#site-main {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: relative;
    height: 100%;
}
#overlay{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: rgba(62, 68, 89, 0.6);
}
.header .contacts{
	position: absolute;
	top: 25px;
	left:50%;
	width:144px;
	line-height: 32px;
	border: none;
	text-align: left;
	color:#5a5a5a;
	margin-left: -72px;
}
.header .contacts .small{
	width:75px;
	margin-left:30px;
	margin-top: 13px;
	text-align: left;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
    height: 30px;
}
.header .contacts .small a{
	margin:0 2px;
}
.header .contacts  label{
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	margin-bottom: 0;
	margin-right: 10px;
}