body{
    opacity:0;
}
.well{
    padding: 30px !important;
    margin:0 auto;
}
.task-custom .btn-lg{
	width: 170px;
}
.task{
	/*background-color: transparent !important;*/
}
.b-page-checkbox-wrap .md-radio .task-name{
	text-transform: uppercase;
	font-size: 16px;
	left: -75%;
}

.b-page-checkbox-wrap .md-radio:nth-child(3) .task-name{
	left: auto !important;
	right: 0 !important;
}
.md-radio label > span.inc {
    display: none !important;
}
.task-title .task-body{
	width: 600px;
	margin: 0 auto;
}
.bootstrap-select.btn-group .dropdown-toggle .caret{
    height: 30px;
    width: 100% !important;
    line-height:30px;
    top:0;
    margin-top: 0 !important;
    right: 0;
    font-size: 20px;
    width: 100%;
    text-align: right;
    padding-right: 10px;
        background: transparent;
    border: none;
}
.bootstrap-select.btn-group .dropdown-toggle .caret i{
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
}
.bootstrap-select .btn{
    border-color:#d7d7d7;
    background: #fff !important;
    border-radius: 0;
}
.bootstrap-select .btn:hover:before{
    display: none;
}
.bootstrap-select .btn:hover{
    box-shadow: none !important;
    color: #5a5a5a !important;
    border-color: #c2cad8 !important;
}
.has-error .bootstrap-select .btn {
    border-color: #e73d4a !important;
}
.bootstrap-select>.dropdown-toggle{
    height: 32px;
    line-height:30px;
    padding: 0 30px 0 12px;
        width: 100%;
}
.task-custom .name {
    width: auto !important;
    text-overflow: initial;
    white-space: initial;
    line-height: 26px;
    font-size: 18px;
    margin: 5px auto 15px;
    /*padding: 0 32px;*/
    color: rgba(90,90,90,1);
    /*text-transform: uppercase;*/
    /*text-align: justify;*/
}
#title-task{
	    /*padding: 0 30px;*/
    display: block;
    text-align:justify;
}
.task-body .block.desc .footer .btn{
	width:137px;
	height: 30px;
	background-color: #ebebeb;
	/*border-color:#fff !important;*/
}
.task-body .block .footer{
	background-color: transparent;
	height: 30px;
	border-bottom-color: transparent !important;
}
.task-body .block.desc .footer .btn .text{
	display: inline-block;
        line-height: 30px;
}
.task-body .block .content p{
	margin: 0;
    font-size: 14px;
}

.task-body .block .content{
    padding:6px 12px !important;
    font-size: 14px;
    height: 170px !important;
    overflow: hidden !important;
}
.task-body .block .content .tab-content > .tab-pane{
    overflow: hidden !important;
}
.task .btn{
    /*margin-right: 19px;*/
}
.tab-content > .tab-pane .item{
    width: 60px;
    height:60px;
    font-size:36px;
    line-height:36px;
    margin:10px;
    float: left;
    text-align: center;
    background: none;
    padding: 10px;
    text-decoration:none;
    border:1px solid #7b7f83;
    border-radius:10px;
    color:#7b7f83;
}
.tab-content > .tab-pane .item:hover{
    border-color:#5184f3;
    background:#5184f3;
    color:#fff;
}
.popover.material{
    min-width:225px !important;
    width:225px !important;
    word-break: break-all;
}
.bootstrap-select.btn-group .dropdown-menu li[data-original-index="0"]{
    display:none;
}
/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color: #c3d7ea !important;
    color: #fff !important;
}
.nav-tabs > li.active > a .label{
    color: #fff !important;
    border-color: #fff !important;
}*/
.step{
    position: relative;
}
.progress{
    background: #26C281;
    height:11px;
    position:absolute;
    left:0;
    top: 9px;
    z-index: 9;
}
