@media screen and (min-width:480px) and (max-width:567px){
    .page-header .page-header-top .page-logo{
        margin-left: 0;
    }
    .task-body {
        padding: 15px 15px 15px;
    }
    .typeSwitch{
        height: 40px;
        line-height: 40px;
    }
    .typeSwitch label {
        margin: 0;
        font-size: 12px;
        line-height: 40px;
    }
    .page-header .page-header-top .top-menu{
        margin: 0;
        top:0;
    }
    .page-header .page-header-top .page-logo .logo-default{
        height: 19px;
        margin: 10px 0 0 45px;
    }
    .page-header .page-header-top .top-menu .navbar-nav > li,.page-header .page-header-top .top-menu .navbar-nav > li.dropdown{
        height: 40px;
    }
    .page-header .page-header-top .top-menu .navbar-nav li a{
        padding: 0px 10px !important;
    }
    .page-header .page-header-top .top-menu .navbar-nav .fa-users{
        font-size: 18px;
    }
    .page-header .page-header-top .top-menu .navbar-nav > li a{
        font-size: 16px;
    }
    .switchery{
        /*height: 28px;*/
    }
    .switchery > small{
        height: 28px;
    }
    .page-header .page-header-top .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img{
        height: 33px;
        margin-top: 3px;
        padding: 1px;
        border:1px solid #666;
    }
    .page-header .page-header-top{
        background: #2d3135;
        border-bottom: 1px solid #000;
    }
    .page-header-menu .btn{
        background: #191c1f;
        border-left:1px solid #212528;
        padding: 0;
        text-align: center;
    }
    .page-header-menu .btn.active{
        border-bottom: solid 3px #b787d1;
    }
    .page-header-menu .btn .text{
        display: none;
    }
    .page-header-menu .btn i{
        font-size: 18px;
        color: #434548;
        display: block;
        position: relative;
    }
    .page-header-menu .btn .label{
        background: none;
        font-size: 10px;
        display: inline-block;
        color: #999;
        border:1px solid rgba(153,153,153,0.3);
        margin-top: 5px;
    }
    .title-caption{
        font-size:12px;
    }
    .title-value{
        font-size: 15px;
    }
    .test-start-page{
        padding: 0px 35px;
    }
    .test-start-page .text1{
        font-size: 45px;
        line-height: 50px;
    }
    .test-start-page .text2{
        font-size: 30px;
        line-height: 35px;
    }
    .test-start-page .btn{
        line-height: 50px !important;
        font-size: 22px;
    }
    .test-start-page .btn-wrap{
        margin:10px auto;
        width: 187px;
    }
    .page-footer {
        bottom: 0;
        font-size: 12px;
        font-weight: 300;
        left: 0;
        padding: 10px 0 2px 22px;
        position: relative;
        width: 100%;
    }
    .task-title .col1{
        float: left;
    }
    .task-title .col2{
        float: right;
    }
    .task-title{
        height: 60px;
    }
    .name-cell{
        font-size: 18px;
        padding-left: 18px;
    }
        .page-header .page-header-top .top-menu .navbar-nav > li a span.label-danger{
        bottom: 0;
    }
        .page-header .page-header-top .top-menu .navbar-nav li .dropdown-menu a{
        padding: 6px 0 6px 13px !important;
    }
}