/*=================================================
 * place custom style at this file bottom
=================================================*/
@media screen and (max-width:480px){
    #menu-toggle{
        position: absolute;
        right: 0;
        margin: 0;
        top: 50px;
        display: none;
    }
    .sing-in2{
        margin-top: 0 !important;
        position: absolute;
        top: 18px;
        right: 37px;
    }
    img.steps{display: none;}
    .sign-fb, .sign-tw, .sign-reg{
        width: 60px;
        height: 60px;
        margin-left: 10px;
        margin-right: 10px;
        background-size: cover !important;
    }
}
.btn-support{
    color:#999 ;
    font-size:15px;
    text-align:center;
    padding:5px 0px;
    font-family: "Roboto Light", sans-serif;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    transition: 0.3s linear all;
    position: absolute;
    right:37px;
    bottom:5px;
}
.planet{
    background: url("/images/mainpage/bg/planet03.png") center center no-repeat;
    background-size:contain;
    position: absolute;
    left:28%;
    top:28%;
    width:46%;
    height:46%;
}

.enter-btn{
    background: url('/images/enter.png') center center no-repeat;
    display: block;
    margin: 0 auto;
    z-index: 99;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    background-size: contain;
}
.enter-btn .hover{
    background: url('/images/enter-hover.png') center center no-repeat;
    opacity: 0;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    -ms-transition: 0.3s linear all;
    transition: 0.3s linear all;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
}
.enter-btn:hover .hover{
    opacity: 1;
}
.btn-empty{
    color:#fff !important;
    border:1px solid #fff !important;
    border-radius:20px;
    font-weight: normal;
    font-family: "Roboto Light", sans-serif;
    padding: 0 18px;
    margin:0 3px;
    height:43px;
    line-height: 37px;
    background: none !important;
}
.btn-empty:hover{
    color:#fff;
    box-shadow:inset 0 0 20px 0 #fff;
}
.btn-icon{
    width:43px;
    height:43px;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    border:none;
    border-radius:50%;
    padding: 0px 15px;
}
.btn-icon i{
    display: inline-block;
    vertical-align: middle;
}
.btn-icon.info{
    background: url("/images/icon-info.png") 0 0 no-repeat;
}
.section-header > div{
    margin-top:0 !important;
}
.section-header{
    margin-bottom:34%;
}
.popover{
    color:#333;
}
@media (max-width:414px){
    .btn-icon{
        width:34px;
        height:34px;
    }
    .btn-empty{
        height: 34px;
        margin: 0;
    }
    .planet{
        left: 15%;
        top: 15%;
        width: 70%;
        height: 70%;
    }
    .section-title{
        font-size:28px;
    }
}
@media (max-width:1280px){
   .section-header{
        margin-bottom:35%;
    }
}
@media (max-width:1024px){
   .section-header{
        margin-bottom:50%;
    }
}
@media (max-width:768px){
   .section-header{
        margin-bottom:50%;
    }
}
@media (max-width:480px){
   .section-header{
        margin-bottom:100%;
    }
}
@media (min-width:1600px){
    .section-title{
        font-size:2.6em;
    }
   .section-header{
        margin-bottom:47%;
    }
}
@media (min-width:1600px) and (max-height:1079px){
     .section-header{
        margin-bottom:34%;
    }  
}
@media (min-width:1920px){
    .section-title{
        font-size:2.7em;
    }
   .section-header{
        margin-bottom:41%;
    }
}
@media (min-width:1921px){
    .section-title{
        font-size:3em;
    }
   .section-header{
        margin-bottom:51%;
    }
    .steps{
        width: 80%;
    }
    .container{
        width:80%;
    }
}
.vbox-close{
    background-color: transparent !important;
    right:10px !important;
}
.small-login{
    position:absolute;
    top:28px;
    right: 11px;
    width: 380px;
    font-family: "Roboto Light", sans-serif;
    font-weight: normal;
}
.small-login .form-control{
    height: 30px;
    width: 130px;
    margin: 0 5px;
    line-height: 30px;
    border: none;
    background: none;
    outline: none;
    color: rgba(255,255,255,0.5) !important;
    font-size: 16px;
    vertical-align: middle;
    margin-top: -6px;
}
.small-login .input-icon{
    border:1px solid rgba(255,255,255,0.3);
    border-radius:3px;
}
.small-login .input-icon i{
    padding-left:6px;
    width: 24px;
    text-align: center;
    font-size:16px;
}
.small-login .form-control:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px rgba(255,255,255,0) !important; !important; /* Цвет фона */
    -webkit-text-fill-color: #000 !important; /* цвет текста */
    color: #000 !important; /* цвет текста */
    background:none !important;
}
.small-login button{
    border: none;
    background: none;
    color: rgba(255,255,255,0.5);
    font-size: 30px;
    padding: 0;
    margin-left: 7px;
    line-height: 30px;
    font-weight: normal;
    margin-top: 1px;
}
.small-login button:hover,.small-login button:focus{
    color:#fff;
    background:none;
}